body {
    display : none;
    padding-top: 0!important;
    overflow-x: hidden;
    font-family: Sans-Serif;
    margin: 0;
    }
    header {
      background-color: #fafbfc;
    }
    .site-title {
      padding: 0px 5px 0;
      font-family: 'Red Hat Display', sans-serif;
    }
    .site-title:hover {
      color: #abd3e7;
    }
  
    .add-to-server {
      font-family: "Red Hat Display", sans-serif;
      background-color: #75A2B8;
      color: #fff;
      padding: 1rem 2.5rem;
      font-size: 2rem;
      line-height: 1.25;
      border-radius: 9.4285rem;
      text-align: center;
      vertical-align: middle;
    }
  
    .add-to-server:hover {
      background-color: #4d6c7b;
      box-shadow: 0 8px 25px -8px #abd3e7;
      color: #fff;
    }
    .cikita-menu {
      margin-left: auto;
    }
    .cikita-menu ul {
      margin: 0px;
      padding: 0px 15px 0;
      list-style: none;
      display: inline-flex;
      font-family: 'Red Hat Display', sans-serif;
    }
  
    .cikita-menu ul li {
      padding: 0px 55px 0px;
    }
  
    .cikita-menu ul li a {
      color: #000000;
      font-size: 2rem;
    }
    
    .cikita-menu ul li a:hover {
      color: #abd3e7;
    }
  
    .cikita-menu-black ul li a {
      color: #24292e;
      font-size: 3rem;
    }
    .cikita-menu-black ul {
      display: block;
      font-family: 'Red Hat Display', sans-serif;
    }
    .cikita-menu-black ul li {
      padding: 0px 0px 0px;
    }
    .mainimg {
      flex: 0 0 90%;
      box-sizing: content-box;
      text-align: center;
      padding-top: 20px;
      padding-right: 15px;
      padding-left: 15px;
      font-family: 'Red Hat Display', sans-serif;
    }
    .maintext {
      flex: 0 0 90%;
      box-sizing: content-box;
      padding-right: 15px;
      padding-left: 15px;
      font-family: 'Red Hat Display', sans-serif;
    }
    .maintext h1 {
      font-family: 'Red Hat Display', sans-serif;
    }
  
    @media (min-width: 992px) {
      .mainimg {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        font-family: 'Red Hat Display', sans-serif;
      }
      .maintext {
        flex: 0 0 50%;
        box-sizing: border-box;
        padding-right: 15px;
        padding-left: 15px;
        font-family: 'Red Hat Display', sans-serif;
      }
    }
    