body {
transition: background 1s ease;
background-color: #fff;
}

body

header {
    background-color: #ffffff14;
    transition: 1s;
    position: sticky;
    top: 0;
    box-shadow: rgb(1 1 1 / 10%) 0 4px 15px -1px, rgb(0 0 0 / 6%) 0 2px 10px -1px;
    margin-left: 3%;
    margin-right: 3%;
    padding-top: 0.5%;
    padding-bottom: 0.5%;
    border-radius: 14.25rem;
    backdrop-filter: blur(12px);
    -webkit-backdrop-filter: blur(12px);
    z-index: 100;
}
header .site-title {
    font-family: 'Red Hat Display', sans-serif;
    color: #484848;
    font-size: 150%;
    letter-spacing: 2px;
    font-weight: bolder;
}
header a{
    transition: 0.5s;
}
header a:visited {
        text-decoration: none;
      }
header a:link {
text-decoration: none;
}
header a:hover {
color: #5c5c5c;
}

.row {
    display: flex;
    margin-right: 7%;
    margin-left: 7%;
    margin-top: 5%;
    flex-wrap: wrap;
    backdrop-filter: blur(11px);
    border-radius: 40px;
    background-color: #fafbfc2e;
    box-shadow: rgb(1 1 1 / 10%) 0 4px 15px -1px, rgb(0 0 0 / 6%) 0 2px 10px -1px;
    z-index: 100;

}




.container {
    display: flex;
    justify-content: normal;
    margin-right: auto;
    margin-left: auto;
}

.cikitaimg1 {
    flex: 0 0 40%;
    box-sizing: border-box;
    min-height: 1px;
    max-width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 5%;
    padding-bottom: 5%;
    animation: grow-shrink 3s cubic-bezier(0, -0.64, 1, 1.71) infinite;
}
.cikitatext1 {
    flex: 0 0 60%;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 5%;
}
.cikitatext1 h1 {
    font-size: 200%;
    padding: 2.5% 2.5%;
    margin-top: 15%;
    color: #484848;
    max-inline-size: none;
}
.cikitatext1 p{
    font-size: 150%;
    margin-right: 10%;
    margin-left: 10%;
    color: #484848;
}
section p.addserver{
    margin-top: 10%;
    display: grid;
    place-items: center;
    justify-content: normal;
    font-family: 'Google Sans', sans-serif, system-ui;
    background: #ffffff00;
    text-align: center;vertical-align: middle;
    border: 1px white;
    max-inline-size: none;
}
section a.addserver {
    margin-right: 5%; margin-left: 5%;
}
section a.addserver:hover {
    box-shadow: rgb(1 1 1 / 10%) 0 4px 15px -1px, rgb(0 0 0 / 6%) 0 2px 10px -1px;
}

section .addserver span{
font-size: 200% !important;
}


.server-count {
    margin-top: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    margin-bottom: 0;
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 1.5rem;
    font-size: 125% !important;
}

.member-count {
    margin-top: 0;
    -webkit-margin-end: 0;
    margin-inline-end: 0;
    margin-bottom: 0;
    -webkit-margin-start: 0.5rem;
    margin-inline-start: 1.5rem;
    transition: 1s;
    font-size: 125% !important;
}


  
@keyframes grow-shrink {
0% {
    transform: translateY(0);
}

50% {
    transform: translateY(-10px);
}
100% {
    transform: translateY(0);
}
}



@media screen and (max-width: 1050px) {
    header .container {
        justify-content: center;
    }
    .row {
        justify-content: center;
    }
    .cikitaimg {
        width: 60%;
    }
    .cikitaimg1 {
        flex: 0 0 100%;
        box-sizing: content-box;

    }
    .cikitatext1 {
        flex: 0 0 100%;
        box-sizing: content-box;
    }
    section p.addserver{
        justify-content: center;
    }
    .server-count {
        font-size: 100% !important;
    }
    
    .member-count {
        font-size: 100% !important;
    }

}



