header {
    background-color: #fafbfc;
    transition: 1s;
    position: sticky;
    top: 0;
    box-shadow: rgba(74,74,74,.1) 0 4px 15px -1px, rgba(105,105,105,.06) 0 2px 10px -1px;
}
header .container {
    width: 85%;
}
header .site-title {
    font-family: 'Red Hat Display', sans-serif;
    color: color("black");
    font-size: 20px;
    font-weight: 400;
}
header a:visited {
        color: inherit;
        text-decoration: none;
      }
header a:link {
text-decoration: none;
}

.container {
    display: flex;
    justify-content: normal;
    margin-right: auto;
    margin-left: auto;
}

.terraimg {
    flex: 0 0 50%;
    box-sizing: border-box;
}
.terratext {
    flex: 0 0 50%;
    box-sizing: border-box;
}


@media screen and (max-width: 1275px) {
    header .container {
        justify-content: center;
    }
    .row {
        justify-content: center;
    }
    .terraimg {
        flex: 0 0 100%;
        box-sizing: content-box;
    }
    .terratext {
        flex: 0 0 100%;
        box-sizing: content-box;
    }

}








